@using ERP.Models.Models.VM
@model PayRollDetailViewModel
<style>
    .card-registration .select-input.form-control {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    input.form-control, textarea.form-control-lg {
        border-color: #ce8035;
    }
</style>

<section class="h-100 bg-white">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
            <div class="card card-registration my-4">
                <div class="row g-0">
                    <div class="col-xl-6 d-none d-xl-block">
                        <img src="~/img/assets/payrolldetail.jpg"
                             alt="Sample photo" class="img-fluid"
                             style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                    </div>
                    <div class="col-xl-6">
                        <form method="post" asp-action="Upsert">
                            <input asp-for="PayRollDetail.Id" hidden />
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase text-primary"><img class="icon-img" src="~/img/icons/crud/detail.png" />Pay Roll @(Model.PayRollDetail.Id != 0 ? "Details" : "Create")</h3>

                                <div class="row">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="PayRollDetail.PayRollOrderId" class="form-label">Pay Roll Order</label>
                                        <select disabled asp-for="PayRollDetail.PayRollOrderId" asp-items="@Model.PayRollOrderList" id="form3Example10" class="form-select form-select-lg">
                                            <option disabled selected>--- Select a Pay Roll Order ---</option>
                                        </select>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="PayRollDetail.EmployeeId" class="form-label">Employee</label>
                                        <select disabled asp-for="PayRollDetail.EmployeeId" asp-items="@Model.EmployeeList" id="form3Example10" class="form-select form-select-lg">
                                            <option disabled selected>--- Select an Employee ---</option>
                                        </select>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="PayRollDetail.Amount" class="form-label">Amount</label>
                                        <input disabled asp-for="PayRollDetail.Amount" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="PayRollDetail.ExtraPayment" class="form-label">Extra Payment</label>
                                    <input disabled asp-for="PayRollDetail.ExtraPayment" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="PayRollDetail.Deduction" class="form-label">Deduction</label>
                                    <input disabled asp-for="PayRollDetail.Deduction" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="PayRollDetail.Remark" class="form-label">Remark</label>
                                    <textarea asp-for="PayRollDetail.Remark" type="text" id="form3Example8" class="form-control form-control-lg"></textarea>
                                </div>

                                <div class="row">
                                </div>
                                <div class="d-flex justify-content-end pt-3">
                                    <a asp-action="Index" class="btn btn-info form-control btn-lg"><img class="icon-img" src="~/img/icons/crud/return.png" /> Back to list</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
}
<script>

      tinymce.init({
       selector: 'textarea',
       plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
       toolbar_mode: 'floating',
         readonly : 1,
    });
</script>
}