@model Client
<style>
    .card-registration .select-input.form-control {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    input.form-control, textarea.form-control-lg {
        border-color: #ce8035;
    }
</style>

<section class="h-100 bg-white">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-12">
                           <form asp-action="Upsert" method="post" enctype="multipart/form-data">
                                <input asp-for="Id" hidden />
                                <input asp-for="Logo"  hidden />
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase text-primary"><i class="bi bi-calendar-fill"></i> @(Model.Id!=0?"Update":"Create") Client</h3>

                                    <div class="row">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="col-md-8 mb-4">
                                        <div class="form-outline mb-4">
                                            <label asp-for="BusinessName" class="form-label">Business Name</label>
                                            <input autofocus asp-for="BusinessName" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                            <span asp-validation-for="BusinessName" class="text-danger"></span>
                                        </div>
                                        </div>
                                         <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="BusinessPhone" class="form-label">Business Phone</label>
                                                <input asp-for="BusinessPhone" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="BusinessPhone" class="text-danger"></span>
                                            </div>
                                         </div>
                                         <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="BusinessEmail" class="form-label">Business Email</label>
                                                <input asp-for="BusinessEmail" type="email" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="BusinessEmail" class="text-danger"></span>
                                            </div>
                                        </div>
                                          <div class="col-md-8 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="BusinessAddress" class="form-label">Address</label>
                                                <input asp-for="BusinessAddress" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="BusinessAddress" class="text-danger"></span>
                                            </div>  
                                         </div>
                                         <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="City" class="form-label">City</label>
                                                <input asp-for="City" type="text" id="form3Example1m" class="form-control form-control-lg" / >
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>  
                                         </div>
                                         <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="State" class="form-label">State</label>
                                                <input asp-for="State" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="State" class="text-danger"></span>
                                            </div>  
                                         </div>
                                         <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="Industry" class="form-label">Industry</label>
                                                <input asp-for="Industry" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="Industry" class="text-danger"></span>
                                            </div>  
                                         </div>
                                         <div class="form-outline mb-4 bg-primary"><span class="text-info form-label"><span class="text-white">Contact Information</span></span></div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="ClientName" class="form-label">Name</label>
                                                <input asp-for="ClientName" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="ClientName" class="text-danger"></span>
                                            </div>  
                                         </div>
                                          <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="ClientPhone" class="form-label">Phone</label>
                                                <input asp-for="ClientPhone" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="ClientPhone" class="text-danger"></span>
                                            </div>  
                                         </div>
                                          <div class="col-md-4 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="ClientEmail" class="form-label">Email</label>
                                                <input asp-for="ClientEmail" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="ClientEmail" class="text-danger"></span>
                                            </div>  
                                         </div>
                                         <div class="col-md-6 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="Access" class="form-label">Access</label>
                                                <textarea asp-for="Access" type="text" id="form3Example1m" class="form-control form-control-lg"></textarea>
                                                <span asp-validation-for="Access" class="text-danger"></span>
                                            </div>  
                                         </div>
                                         <div class="col-md-6 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="Notes" class="form-label">Notes</label>
                                                <textarea asp-for="Notes" type="text" id="form3Example1m" class="form-control form-control-lg"></textarea>
                                                <span asp-validation-for="Notes" class="text-danger"></span>
                                            </div>  
                                         </div>
                                          <div class="col-md-12 mb-4">
                                            <div class="form-outline mb-4">
                                                <label asp-for="Url" class="form-label">Url</label>
                                                <input asp-for="Url" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                                <span asp-validation-for="Url" class="text-danger"></span>
                                            </div>  
                                         </div>
                                            <div class="col-md-6 mb-4">
                                                 <div class="form-outline mb-4">
                                                    <label asp-for="Logo" class="form-label">Logo</label>
                                                    <input asp-for="Logo" type="file" name="file" id="uploadBox" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                       
                                        @if(@Model.Logo==null)
                                            {
                                                  <div class="form-outline col-md-5 mb-4 offset-1">
                                                    <img src="~/img/Profile.png" alt="Pending Select Client Image" height="80%" width="50%" style="border-radius:5px; border:1px solid #bbb9b9" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-outline col-md-5 mb-4 offset-1">
                                                    <img src="@Model.Logo" alt="Client Image" height="80%" width="50%" style="border-radius:5px; border:1px solid #bbb9b9" />
                                                </div>
                                            }
                                        
                                        <div class="row">
                                        </div>
                                        <div class="d-flex justify-content-end pt-3">
                                            <a asp-action="Index" class="btn btn-secondary form-control btn-lg"><i class="bi bi-arrow-return-left"></i> Back to list</a>
                                            @if(Model.Id!=0)
                                            {
                                                <button type="submit" class="btn btn-primary btn-lg ms-2 form-control"><i class="bi bi-bookmark-plus-fill"></i> Update</button>
                                            }
                                            else
                                            {
                                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary btn-lg ms-2 form-control"><i class="bi bi-bookmark-plus-fill"></i> Create</button>
                                            }
                                        </div>
                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
 
</section>

@section Scripts{
    @{
<partial name="_ValidationScriptsPartial" />
}
<script>

     tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
   });

  function ValidateInput(){
		if(document.getElementById("uploadBox").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...Please upload an Image!',
			  text: 'Please upload an Image!',
			});
			return false;
		}
		return true;
    }
</script>
}