@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using ERP.Models.Models
@model DayOff
<style>
    .card-registration .select-input.form-control {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    input.form-control, textarea.form-control-lg {
        border-color: #ce8035;
    }
</style>

<section class="h-100 bg-white">
    <div class="container <!--py-5--> h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>

                        <div class="col-xl-6">
                            <form method="post" asp-action="Upsert">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase text-primary"><i class="bi bi-pencil-square"></i> @(Model.Id!=0?"Update":"Create") Day Off</h3>
                                    <input hidden asp-for="Id" />
                                    <div class="row">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                         @*<div class="form-outline mb-4">
                                                <label asp-for="Email" class="form-label">Email</label>
                                                 <select disabled asp-for="Email" id="form3Example10" class="form-select form-select-lg">
                                                    <option value = @UserManager.GetUserName(User) disabled selected>@UserManager.GetUserName(User)</option>    
                                                </select>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>*@
                                        <div class="form-outline mb-4">
                                            <label asp-for="Qty" class="form-label">Qty</label>
                                            <input placeholder="0.00" autofocus asp-for="Qty" type="text" id="form3Example1m" class="form-control form-control-lg" />
                                             <span asp-validation-for="Qty" class="text-danger"></span>
                                        </div>
                                            <div class="form-outline mb-4">
                                            <label asp-for="QtyType" class="form-label">Qty Type</label>
                                             <select asp-for="QtyType" id="form3Example10" class="form-select form-select-lg">
                                                <option disabled selected>--- Select a Qty Type ---</option>    
                                                <option value="Hour">Hours</option>    
                                                <option value="Day">Days</option> 
                                                <option value="Week">Weeks</option>
                                            </select>
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            <label asp-for="Type" class="form-label">Type</label>
                                             <select asp-for="Type" id="form3Example10" class="form-select form-select-lg">
                                                <option disabled selected>--- Select a Type ---</option>    
                                                <option value="Vacation">Vacation</option>    
                                                <option value="Personal">Personal</option> 
                                                <option value="Sick">Sick</option>
                                                <option value="Custom">Custom</option>
                                            </select>
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                         <div class="form-outline mb-4">
                                            <label asp-for="StartDate" class="form-label">Start Date</label>
                                            <input  asp-for="StartDate" type="date" id="form3Example1m" class="form-control form-control-lg" />
                                             <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="EndDate" class="form-label">End Date</label>
                                            <input  asp-for="EndDate" type="date" id="form3Example1m" class="form-control form-control-lg" />
                                             <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="Remark" class="form-label">Remark</label>
                                            <textarea asp-for="Remark" type="text" id="form3Example8" class="form-control form-control-lg"></textarea>
                                             <span asp-validation-for="Remark" class="text-danger"></span>
                                        </div>
                                        <div class="row">
                                        </div>
                                        <div class="d-flex justify-content-end pt-3">
                                            <a asp-action="Index" class="btn btn-secondary form-control btn-lg"><i class="bi bi-arrow-return-left"></i> Back to list</a>
                                             @if(Model.Id!=0)
                                            {
                                                <button type="submit" class="btn btn-primary btn-lg ms-2 form-control"><i class="bi bi-bookmark-plus-fill"></i> Update</button>
                                            }
                                            else
                                            {
                                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary btn-lg ms-2 form-control"><i class="bi bi-calendar-plus"></i> Create</button>
                                            }
                                        </div>
                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>

     tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
   });
   </script>
}